_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
## MacOS
*.DS_Store
.bundle
.sass-cache
node_modules
package.json

## Jekyll stuff
/_site/
_site/
.sass-cache/
.jekyll-metadata
